.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container6303 {
  width: 100%;
  height: 857px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px 8px 0 0;
  background-color: rgba(0, 15, 33, 1);
}
.home-text {
  top: 234px;
  left: 117px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: center;
  font-family: Epilogue;
  font-weight: 600;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.home-button2998 {
  top: 461px;
  left: 173px;
  width: 36px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 18px;
  background-color: rgba(243, 246, 251, 1);
}
.home-text02 {
  top: 7px;
  left: 26px;
  color: rgba(51, 92, 166, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-logofacebook {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.home-button2999 {
  top: 461px;
  left: 117px;
  width: 36px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 18px;
  background-color: rgba(254, 241, 241, 1);
}
.home-text03 {
  top: 7px;
  left: 26px;
  color: rgba(199, 22, 16, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-google {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.home-button3000 {
  top: 461px;
  left: 232px;
  width: 36px;
  height: 36px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 18px;
  background-color: rgba(243, 244, 246, 1);
}
.home-text04 {
  top: 7px;
  left: 26px;
  color: rgba(86, 94, 108, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-apple {
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.home-line28 {
  top: 528px;
  left: 0px;
  width: 375px;
  height: 1px;
  position: absolute;
}
.home-oval912 {
  top: 15px;
  left: -93px;
  width: 260px;
  height: 223px;
  position: absolute;
}
.home-text05 {
  top: 289px;
  left: 18px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Abril Fatface;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.home-text07 {
  top: 318px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  width: 303px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Acme;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.home-image49 {
  top: 94px;
  left: 265px;
  width: 88px;
  height: 96px;
  position: absolute;
  border-radius: 3px;
}
.home-group3 {
  top: 559px;
  left: 13px;
  width: 355px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-button2997 {
  top: 0px;
  left: 0px;
  width: 355px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(10, 77, 32, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26px;
  background-color: rgba(10, 77, 32, 1);
}
.home-text09 {
  top: 12px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-leaf1 {
  top: 10px;
  left: 17px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.home-button29971 {
  top: 70px;
  left: 0px;
  width: 355px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(10, 77, 32, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26px;
  flex-direction: row;
  background-color: rgba(10, 77, 32, 1);
}
.home-text10 {
  top: 12px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-clipboardtext5 {
  top: 84px;
  left: 17px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-button29972 {
  top: 143px;
  left: 0px;
  width: 355px;
  height: 52px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(10, 77, 32, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26px;
  background-color: rgba(10, 77, 32, 1);
}
.home-text11 {
  top: 12px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.home-energy1 {
  top: 157px;
  left: 8px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-image29 {
  top: 47px;
  left: -2px;
  width: 154px;
  height: 160px;
  position: absolute;
}
.home-profile1 {
  top: 70px;
  left: 244px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-container80 {
  top: 783px;
  left: 0px;
  width: 390px;
  height: 80px;
  display: flex;
  position: absolute;
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(10, 77, 32, 1);
}
.home-tab-bar-menu4 {
  top: 0px;
  left: 16px;
  width: 374px;
  height: 68px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.home-frame {
  top: 0px;
  left: 0px;
  width: 125px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.home-home {
  top: 14px;
  left: 42.83000183105469px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-text12 {
  top: 38px;
  left: 40.83000183105469px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame1 {
  top: 0px;
  left: 124.66000366210938px;
  width: 125px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.home-rectangle {
  top: 0px;
  left: 0px;
  width: 125px;
  height: 2px;
  position: absolute;
}
.home-fchat {
  top: 14px;
  left: 50.33000183105469px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-text14 {
  top: 38px;
  left: 34.83000183105469px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame2 {
  top: 0px;
  left: 249.32000732421875px;
  width: 125px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.home-circle09 {
  top: 14px;
  left: 50.33000183105469px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.home-text16 {
  top: 38px;
  left: 42.33000183105469px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .home-container6303 {
    width: 373px;
  }
  .home-text09 {
    top: 12px;
    left: 53px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
  }
  .home-text10 {
    top: 11px;
    left: 51px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
  }
  .home-text11 {
    top: 10px;
    left: 52px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
  }
}
